[submodule "home/.zsh/zsh-completions"]
	path = home/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "home/.zsh/git-prompt.zsh"]
	path = home/.zsh/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh
