[user]
	signingkey = /home/smoolldev/.ssh/main_ssh.pub
	email = jakubskowron676@gmail.com
	name = Jakub Skowron
[commit]
	gpgsign = true
[gpg]
	format = ssh
[tag]
	gpgSign = true
[init]
	defaultBranch = master
