[user]
	signingkey = 48F0DEDEB5354ADD
	email = jakubskowron676@gmail.com
	name = Jakub Skowron
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = master
[core]
	autocrlf = input
[webui]
	autoupdate = true
[alias]
	webui = !/home/smooll/.git-webui/release/libexec/git-core/git-webui
